body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header_container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .header_container {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.ogo_logo img {
    display: flex; 
    align-items: center;  
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}


